.home {
  padding: 4rem;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(60px + 4rem);

  .add-btn {
    font-size: 24px;
  }
  .resume_list {
    width: 1190px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 27px;
  }
  .section_card {
    background-color: #ffffff;
  }
  .section {
    border-radius: 8px;
    width: 1190px;
    display: flex;
    justify-items: center;

    &_column {
      display: flex;
      justify-content: space-between;
      width: 1190px;
      margin-top: 23px;
      .section {
        display: flex;
        align-items: center;
        gap: 15px;
        max-width: 582px;
        padding-left: 41px;
        height: 117px;
        img {
          width: 48px;
          height: 48px;
        }
      }
    }

    &_main {
      margin-top: 60px;

      h3 {
        font-size: 24px;
        font-weight: bold;
      }
      .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 94px 0;

        p {
          font-size: 26px;
          font-weight: bold;
          text-align: center;
          line-height: 34px;
        }
        span {
          font-size: 14px;
          color: #7c7c7c;
          text-align: center;
          margin: 27px 0 34px 0;
          line-height: 28px;
        }
        button {
          width: 221px;
          height: 60px;
          border-radius: 36px;
          border: 1px solid #bdbdbd;
          color: #6559ef;
          font-size: 20px;
        }
      }
    }
    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    h2 {
      margin-top: 0;
      font-size: 36px;
    }

    h3 {
      margin-top: 0;
      font-size: 20px;
      font-weight: bold;
    }

    a {
      color: #6366f1;
      text-decoration: none;
      font-weight: bold;
      font-size: 15px;
      margin-top: 8px;

      &:hover {
        text-decoration: underline;
      }
    }

    .button {
      background-color: #6366f1;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1rem;
      margin-top: 1rem;

      &:hover {
        background-color: #4f46e5;
      }
    }
  }

  .banner {
    position: relative;
    background-color: #786dff;
    color: white;
    height: 168px;
    max-width: 1190px;
    padding-left: 48px;
    h2 {
      font-weight: bold;
    }
    h2 + p {
      margin-top: 20px;
    }
    p {
      font-size: 14px;
    }
    img {
      position: absolute;
      width: 440px;
      height: 192px;
      bottom: 0;
      right: 0;
    }
  }
}
.section_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  height: 56px;
}

.resume_card {
  background-color: #fff;
  width: 377px;
  height: 352px;
  border-radius: 15px;
  .preview {
    position: relative;
    height: 252px;
    background-color: #d8dde2;
    border-radius: 15px 15px 0 0;
  }
  .preview-box {
    position: absolute;
    background-color: #fff;
    margin: 40px 62px 0 62px;
    width: 253px;
    height: 212px;
    border-radius: 15px 15px 0 0;
    padding: 37px 26px;
    > div {
      display: flex;
      justify-content: space-between;
      > div {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }
    .preview-list {
      display: flex;
      gap: 5px;
      > div {
        background-color: #d9d9d9;
        width: 8px;
        height: 8px;
      }
      p {
        font-size: 8px;
        color: #000;
      }
    }
    h1 {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    span {
      display: inline-block;
      height: 53px;
      font-size: 8px;
      margin-top: 51px;
    }
  }
  .preview-default {
    width: 49px;
    height: 60px;
    background-color: #d9d9d9;
  }
  .info {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: calc(352px - 252px);
    padding: 28px 29px 0 29px;
    i {
      font-size: 24px;
      cursor: pointer;
    }
  }
  h3 + p {
    margin-top: 8px;
  }
  p {
    color: #979797;
  }
}
.resume_plus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  cursor: pointer;
  span {
    font-size: 20px;
  }
}
.resume_plus-btn {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  img {
    width: 45px;
    padding-left: 4px;
  }
  // i {
  //   font-size: 42px;
  //   color: #979797;
  // }
}
