body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f1f4f9;
}

.header {
  background-color: #ffffff;
  padding: 1rem;
  // height: 60px;
  // padding: 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 50;
}

.logo {
  font-family: "Rubik One", sans-serif;
  font-size: 28px;
  color: #8000ff;
}

.sidebar {
  width: 232px;
  height: 100vh;
  background-color: #fcfcfc;
  padding: 20px 0;
  border-right: 1px solid #d9d9d9;
  font-size: 14px;
  position: fixed;
  z-index: 50;
  margin-top: 60px;
}

.top-menu {
  list-style-type: none;
  padding: 0 20px;
  i {
    font-size: 24px;
  }
}

.top-menu li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: #979797;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.divider {
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

.menu-section {
  padding: 10px 0;
  div {
    padding: 0 20px;
    height: 36px;
    line-height: 36px;
  }
}

.menu-section h3 {
  color: #a0a0a0;
  padding: 0 20px;
}
.menu-section h4 {
  margin: 20px 0;
  padding: 0 20px;
}

.resume-menu {
  list-style-type: none;
  padding: 0;
  font-size: 14px;
  ul {
    li {
      height: 36px;
      line-height: 36px;
    }
  }
}

.resume-menu li {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  color: #979797;
  cursor: pointer;
}

.resume-menu li:hover {
  background-color: rgba(217, 217, 217, 0.21);
}

.main-content {
  padding: 2rem;
  flex: 1;
}

.add-btn {
  display: flex;
  align-items: center;
  height: 48px;
  line-height: 48px;
  gap: 8px;
  font-weight: bold;
  color: #6559ef;
  cursor: pointer;
  font-size: 18px;
  padding-left: 30px;
  i {
    font-size: 32px;
  }
}
.sub-dropdown {
  position: absolute;
  background-color: #fff;
  border: 1px solid #eeeeee;
  width: 189px;
  height: min-content;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: auto;
  right: 23px;
  top: 60px;
  z-index: 10;
  div {
    color: #000;
    cursor: pointer;
    width: 100%;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;

    &:last-child {
      color: #f40000;
      i {
        color: #de5a4f;
      }
    }
    i {
      color: #4a4a4a;
      font-size: 22px;
    }

    img {
      width: 24px;
    }
    &:hover {
      background-color: #eceff2;
      // color: $brand-blue;
    }
  }
  div + div {
    border-top: 1px solid #dddddd;
  }
  &.disabled {
    pointer-events: none;
    // color: $gray-500;
  }
}
